
<div class="flex-column" style="height: auto;">
  <!-- Error Message -->
  <% if flash[:errors] %>
    <% flash.each do |name,message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  <% end %>
  
  <!-- Employee Cards -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @musicians.each do |m| %>
      <div class="col">
        <div class="card h-100">
          <img src="<%= m.image %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= m.name %></h5>
            <p class="card-text"><strong>Date of Birth:</strong> <%= m.dob %></p>
            <p class="card-text"><strong>Description:</strong> <%= m.description %></p>
          </div>
        <div class="card-footer text-center d-flex justify-content-between">
          <%= button_to "Show", musician_path(m), method: :get, class: "btn-success border-0 rounded shadow px-3 py-2" %>
          <%= button_to "Edit", edit_musician_path(m), method: :get, class: "btn-primary border-0 rounded shadow px-3 py-2" %>
          <%= button_to "Delete", musician_path(m), method: :delete, class: "btn-danger border-0 rounded shadow px-3 py-2" %>
        </div>

        </div>
      </div>
    <% end %>
  </div>
  
  <!-- Add New Employee Button -->
  <div class="text-center mt-3">
    <%= button_to "Add Musician", new_musician_path, method: :get, class: "btn-warning border-0 rounded shadow p-3" %>
  </div>
</div>
