<%= render partial: "layouts/header" %>
    <style>
        body {
            background-color: #FFFBDC;

        }
    </style>

    <body>
        <section class="landing-carousel mb-3 mt-3">
            <div class="container-fluid" style="margin-top: -1rem;">
                <div class="row">
                    <div class="col-lg-9 order-lg-2 right-carousel">
                        <div class="slide-container">
                            <div class="slide">
                                <img src="<%= asset_url('backgroundimage.png')%>">
                            </div>
                            <div class="slide">
                                <img src="<%= asset_url('hero-bg.png')%>">
                            </div>
                            <div class="slide">
                                <img src="<%= asset_url('test.jpg')%>">
                            </div>
                            <div class="slide">
                                <img src="<%= asset_url('carousel_event.jpeg')%>">
                            </div>
                            <div class="slide">
                                <img src="<%= asset_url('countdown-bg.jpg')%>">
                            </div>

                            <span class="arrow prev" onclick="controller(-1)">&#10094;</span>
                            <span class="arrow next" onclick="controller(1)">&#10095;</span>
                        </div>
                    </div>
                    <div class="col-lg-3 order-lg-1 left-text">
                        <div class="text">
                            <p> Pratap's </p>
                            <p><span> Amazing <br> Musicians</span></p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- content tab -->
        <div class="container-fluid">
            <div class="tagline">
                <h2>Harmonizing Excellence - A Celebration of Instrumental Mastery</h2>
            </div>
            <div class="row d-flex mt-2 px-3">
                <div class="tab w-25 col-md-3 text-center " onclick="showTab('tab1')">
                    What?
                </div>
                <div class="tab w-25 col-md-3 text-center " onclick="showTab('tab2')">
                    Why?
                </div>
                <div class="tab w-25 col-md-3 text-center " onclick="showTab('tab3')">
                    Who?
                </div>
                <div class="tab w-25 col-md-3 text-center " onclick="showTab('tab4')">
                    How?
                </div>
            </div>

            <div class="about-content">
                <div class="boundary-line">
                    <!-- What -->
                    <div class="tab-content mt-3" style="margin-top: 0 !important;" id="tab1">
                        In the heart of every melody and the soul of every composition lies the untold story of an
                        instrumentalist. Pratap's Amazing Musicians, a pioneering initiative by the Shailaja Nair
                        Foundation, supported by FEI Cargo, aims to bring these stories to the forefront. At its core,
                        this
                        project is a tribute to the master of instruments, those who transform silence into symphonies
                        with their touch. It's a journey to discover, celebrate, and elevate the instrumentalists who
                        have
                        long been overshadowed in the grand narrative of music.
                        What makes this project stand out is its dedication to not just recognizing but truly
                        celebrating
                        the art of instrumental music. By organizing these instrumental music programs, Pratap's
                        Amazing Musicians creates a platform unlike any other. Each event is carefully curated to
                        showcase two distinct instruments and their master players, providing a rare insight into the
                        depth and diversity of musical traditions. These gatherings are more than just concerts, they
                        are
                        a celebration of the spirit of music, bringing together the community, artists, and enthusiasts
                        in
                        a shared experience of discovery and appreciation.
                        This initiative does not stop at recognition. It aims to immortalize the contributions of these
                        instrumentalists, ensuring their artistry is celebrated across generations. By praising them in
                        front of the veterans from the music industry, the project not only honors their talent but also
                        bridges the gap between the legends and the aspiring, weaving a rich tapestry of musical
                        heritage that is vibrant, diverse, and inclusive. Pratap's Amazing Musicians is a ray of hope, a
                        call
                        to action to rediscover the essence of music through the strings, keys, and beats that make our
                        hearts sing.
                    </div>

                    <!-- Why -->
                    <div class="tab-content mt-3" id="tab2">
                        The "Why" behind Pratap's Amazing Musicians extends beyond mere celebration; it's about
                        rectifying a longstanding oversight in the music industry. Instrumentalists, often the backbone
                        of musical ensembles, rarely receive the recognition they deserve. While vocalists capture the
                        limelight, the instrumentalists' artistry, which adds depth and emotion to the music, remains in
                        the shadows. This project seeks to challenge this norm by highlighting the sheer talent,
                        dedication, and passion of these musicians.
                        Music, in its purest form, is a universal language capable of transcending cultural and
                        linguistic
                        barriers. It has the power to heal, to inspire, and to unite. By focusing on instrumentalists,
                        we're
                        not just promoting music, we're fostering a deeper appreciation for the intricate craftsmanship
                        that goes into every note, every rhythm. The SNF, backed by FEI Cargo, envisions a world where
                        musicians are celebrated for their contribution to the art of music, regardless of their role.
                        Our
                        aim is to create a platform where these artists can showcase their genius, thereby enriching our
                        cultural tapestry and ensuring that the soul of music is recognized and revered. This mission,
                        ambitious yet profoundly necessary, seeks to elevate the narrative of music, making it a more
                        inclusive and celebratory experience for all.
                    </div>

                    <!-- Who -->
                    <div class="tab-content mt-3" id="tab3">
                        At the heart of Pratap's Amazing Musicians, our focus is on the virtuosos whose melodies
                        breathe life into every composition, yet whose names might not echo as loudly as they should in
                        the halls of musical fame. These are the instrumentalists - the unsung heroes whose fingers,
                        breath, and passion transform wood, brass, and strings into the soul-stirring music that touches
                        our lives.
                        We celebrate the diversity and richness of musical talent that remains hidden in plain sight.
                        Our
                        project shines a spotlight on those gifted individuals who have dedicated their lives to
                        perfecting their craft, often behind the scenes. From the classical masters whose talents have
                        been refined over decades, to the innovative artists blending traditional sounds with
                        contemporary beats, we recognize all.
                        This initiative is not just about giving these artists a platform, it's about acknowledging
                        their
                        significant contribution to the tapestry of music and culture. It's for every enthusiast who
                        believes in the power of music to unite, heal, and inspire. It's for the community that values
                        the
                        depth of musical expression over the allure of mainstream recognition. Through Pratap's
                        Amazing Musicians, we're creating a world where every note played and every rhythm crafted is
                        celebrated, making every instrumentalist not just a performer, but a celebrated star.
                    </div>

                    <!-- How -->
                    <div class="tab-content mt-3" id="tab4">
                        The journey to spotlight instrumental music's unsung heroes is both ambitious and inspiring. At
                        the heart of Pratap's Amazing Musicians project lies a meticulously planned strategy, designed
                        to celebrate and elevate the craft of instrumentalists to the forefront of the music scene.
                    </div>
                </div>
            </div>
            <!-- content tab -->

        <!-- Event Section Begin -->
        <section class="event spad">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="event__slider owl-carousel">
                     <% @events.each do |a| %>
                        <div class="col-lg-4 w-100">
                            <div class="event__item">
                                <div class="event__item__pic set-bg" data-setbg="<%= url_for(a.image) %>">
                                    <div class="tag-date">
                                        <span><%= a.event_date %></span>
                                    </div>
                                </div>
                                <div class="event__item__text">
                                    <h4><%= a.event_name %></h4>
                                    <p><i class="fa fa-map-marker"></i><%= a.event_location %></p>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </section>
        <!-- Event Section End -->

        <!-- About Section Begin -->
        <!-- <section class="about spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about__pic">
                            <img class="mt-3" src="<%= asset_url('Amjad-Ali-Khan.jpeg')%>">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__text">
                            <div class="section-title">
                                <h2>Amjad Ali Khan</h2>
                                <h1>About me</h1>
                            </div>
                            <p>The Sarod is a popular instrument in Indian classical music known for its deep and
                                expressive
                                sound. It's made of wood with a skin covering and doesn't have frets on the fingerboard,
                                allowing players to make subtle changes in pitch and slide between notes. People play
                                the
                                Sarod with a pick called a mizrab, which helps create dynamic rhythms. Its rich sound
                                and
                                ability to play complex melodies are essential for performing ragas, which are important
                                in
                                Indian music and have deep emotions.</p>
                            <%# <a href="#" class="primary-btn">CONTACT ME</a> %>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- About Section End -->

        <!-- Artist Section Begin -->
        <section class="services mt-3">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-5 px-0 image-container">
                        <img style="height: 100%; width: 100%;" src="<%= asset_url('mainmusicianimage.png')%>">
                        <img class="secondimage" style="height: 40%; width: 70%;" src="<%= asset_url('bgimage.png')%>">
                        <p class="imgtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorum quae ut
                            aperiam suscipit accusantium consequuntur reprehenderit praesentium aliquam veniam, officia
                            atque error necessitatibus molestiae commodi dolor assumenda quaerat temporibus!</p>
                     </div>

                    <div class="col-lg-7 px-3">
                        <div class="row  d-flex">
                            <div class="col-6 pl-4">
                                <p style="font-family: 'Kaushan Script', cursive; border-bottom: 1px solid #531129; font-size: 30px;">
                                    Musicians Directory
                                </p>
                            </div>
                            <div class="col-6" style="display: flex; justify-content: flex-end;">
                                 <button class="py-2 px-3" style="border: 2px solid red; background-color: #FFFBDD;"><a href="/artists"
                                  style="text-decoration: none; color: #531129;">View more</a></button>
                            </div>
                        </div>
                         <div class="row services__list">
                            <% @artists.each do |a| %>
                            <div class="col-md-6 py-3">
                                <div style="background-color: #A84A1F;">
                                    <div class="img text-center">
                                        <img class="mt-3" style="border-radius: 50%;  width: 11rem; height: 11rem; "
                                            src="<%= url_for(a.image) %>">
                                    </div>
                                    <div class="card-body px-4 text-white py-3">
                                        <h4><%= a.name %></h4>
                                        <p><%= a.date_of_birth %></p>
                                        <p><%= a.description %></p>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <!-- <div class="col-md-6 py-3">
                                <div style="background-color: #A84A1F;">
                                    <div class="img text-center">
                                        <img class="mt-3" style="border-radius: 50%;  width: 11rem; height: 11rem; "
                                            src="<%= asset_url('Amjad-Ali-Khan.jpeg')%>">
                                    </div>
                                    <div class="card-body px-4 text-white py-3">
                                        <h4>Amjad Ali Khan</h4>
                                        <p> Sarod maestro has played a crucial role in popularizing the instrument
                                            worldwide.</p>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-md-6 py-3">
                                <div style="background-color: #FFB73E;">
                                    <div class="img text-center">
                                        <img class="mt-3" style="border-radius: 50%;  width: 11rem; height: 11rem; "
                                            src="<%= asset_url('Anoushka-Shankar.jpeg')%>">
                                    </div>
                                    <div class="card-body px-4 text-white py-3">
                                        <h4>Anoushka Shankar</h4>
                                        <p>Sitar player and composer, known for exploring new musical territories.</p>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-md-6 py-3">
                                <div style="background-color: #FFB73E;">
                                    <div class="img text-center">
                                        <img class="mt-3" style="border-radius: 50%;  width: 11rem; height: 11rem; "
                                            src="<%= asset_url('Bismillah-Khan.jpeg')%>">
                                    </div>
                                    <div class="card-body px-4 text-white py-3">
                                        <h4> Bismillah Khan</h4>
                                        <p>Shehnai maestro, credited with elevating the shehnai to a classical concert
                                            stage</p>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-md-6 py-3">
                                <div style="background-color: #A84A1F;">
                                    <div class="img text-center">
                                        <img class="mt-3" style="border-radius: 50%;  width: 11rem; height: 11rem; "
                                            src="<%= asset_url('Shivkumar-Sharma.jpg')%>">
                                    </div>
                                    <div class="card-body px-4 text-white py-3">
                                        <h4>Shivkumar Sharma</h4>
                                        <p> A santoor maestro who popularized the instrument in Indian classical music.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> -->

        <!-- Instrument section start -->
        <div class="row">
            <%= render partial: "layouts/instrument"%>
        </div> 
        <!-- instrument section end -->

        <!-- Track Section Begin -->
        <section class="track spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="section-title">
                            <h2>Latest MUSIC</h2>
                            <h1>Music podcast</h1>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="track__all">
                            <a href="#" class="primary-btn border-btn">View all tracks</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 p-0">
                        <div class="track__content nice-scroll">
                            <div class="single_player_container">
                                <h4> Ronu Majumdar</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1"
                                    data-url="music-files/1.mp3"></div>
                                <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">
                                                                0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00
                                            </div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4>U. Srinivas</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_2"
                                    data-url="music-files/2.mp3"></div>
                                <div class="jp-audio jp_container_2" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">
                                                                0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00
                                            </div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4>Kadri Gopalnath</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_3"
                                    data-url="music-files/3.mp3"></div>
                                <div class="jp-audio jp_container_3" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">
                                                                0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00
                                            </div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4> Vishwa Mohan Bhatt</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_4"
                                    data-url="music-files/4.mp3"></div>
                                <div class="jp-audio jp_container_4" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">
                                                                0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00
                                            </div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4>Anoushka Shankar</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_5"
                                    data-url="music-files/5.mp3"></div>
                                <div class="jp-audio jp_container_5" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">
                                                                0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00
                                            </div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4>Bismillah Khan</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_6"
                                    data-url="music-files/6.mp3"></div>
                                <div class="jp-audio jp_container_6" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">
                                                                0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00
                                            </div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 p-0">
                        <div class="track__pic">
                            <img src="/assets/track-right.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Track Section End -->

        <!-- Youtube Section Begin -->
        <section class="youtube spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>VIDEO</h2>
                            <h1>Latest videos</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="youtube__item">
                            <div class="youtube__item__pic set-bg" data-setbg="/assets/Amjad-Ali-Khan.jpeg">
                                <a href="https://www.youtube.com/watch?v=w1nCQ3vA3Jc" class="play-btn video-popup"><i
                                        class="fa fa-play"></i></a>
                            </div>
                            <div class="youtube__item__text">
                                <h4>Amjad Ali Khan "Raga for peace" 2014 Nobel Peace Prize Concert</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="youtube__item">
                            <div class="youtube__item__pic set-bg" data-setbg="/assets/Vishwa-Mohan-Bhatt.jpg">
                                <a href="https://www.youtube.com/watch?v=O2K0ptoYpuc" class="play-btn video-popup"><i
                                        class="fa fa-play"></i></a>
                            </div>
                            <div class="youtube__item__text">
                                <h4>Zakir Hussain & Rakesh Chaurasia | EtnoKraków/Rozstaje 2015 | Crossroads Festival &
                                    Euroradio EBU</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="youtube__item">
                            <div class="youtube__item__pic set-bg" data-setbg="/assets/U-Srinivas.jpeg">
                                <a href="https://www.youtube.com/watch?v=4GKEQMJ9jgE" class="play-btn video-popup"><i
                                        class="fa fa-play"></i></a>
                            </div>
                            <div class="youtube__item__text">
                                <h4>Dimitri Vegas, Steve Aoki & Like Mike’s “3 Are Legend”</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Youtube Section End -->

        <!-- Countdown Section Begin -->
        <!-- <section class="countdown spad set-bg" data-setbg="/assets/countdown-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="countdown__text">
                            <h1>Tomorrowland 2024</h1>
                            <h4>Music festival start in</h4>
                        </div>
                        <div class="countdown__timer" id="countdown-time">
                            <div class="countdown__item">
                                <span>20</span>
                                <p>days</p>
                            </div>
                            <div class="countdown__item">
                                <span>45</span>
                                <p>hours</p>
                            </div>
                            <div class="countdown__item">
                                <span>18</span>
                                <p>minutes</p>
                            </div>
                            <div class="countdown__item">
                                <span>09</span>
                                <p>seconds</p>
                            </div>
                        </div>
                        <div class="buy__tickets">
                            <a href="#" class="primary-btn">Buy tickets</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Countdown Section End -->
        <!-- 
        Footer Section Begin
        <footer class="footer spad set-bg" data-setbg="/assets/footer-bg.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer__address">
                            <ul>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p>Phone</p>
                                    <h6>1-677-124-44227</h6>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <p>Email</p>
                                    <h6>pratapamazing@gmail.com</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1 col-md-6">
                        <div class="footer__social">
                            <h2>PRATAP'S AMAZING MUSICIANS</h2>
                            <div class="footer__social__links">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-6">
                        <div class="footer__newslatter">
                            <h4>Stay With me</h4>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright__text">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is
                        made by Ssingularitee Technologies PVT LTD
                    </p>
                </div>
            </div>
        </footer>
        Footer Section End -->



        <footer class="footer">
            <div class="container">
                <div class="row footer-info">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-lg-6 footer-social">
                                <h3>Follow Us</h3>
                                <ul>
                                    <li>
                                        <a href=""><span><i class="fa-brands fa-facebook"></i></span><span>Facebook</span></a>
                                </li>
                                    <li>
                                        <a href=""><span><i class="fa-brands fa-x-twitter"></i></span><span>Twitter</span></a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa-brands fa-instagram"></i></span><span>Instagram</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 footer-contact-info">
                                <h3>Contact Us</h3>
                                <ul>
                                    <li>
                                        <a href=""><span><i class="fa-solid fa-location-dot"></i></span><span>Address</span></a>
                                </li>
                                    <li>
                                        <a href=""><span><i class="fa-solid fa-phone"></i></span><span>Phone Number</span></a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa-regular fa-envelope"></i></span><span>Email Address2</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 footer-copyright-text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This website is
                            made by Ssingularitee Technologies PVT LTD
                        </p>
                    </div>
                </div>


            </div>
        </footer>
   




        <script>

            function showCustomTab(tabId) {

                var tabs = document.querySelectorAll('.custom-tab-content');
                tabs.forEach((tab) => {
                    tab.style.display = 'none';
                });

                var tabLinks = document.querySelectorAll('.custom-tab');
                tabLinks.forEach((link) => {
                    link.classList.remove('custom-active');
                });

                document.getElementById(tabId).style.display = 'block';

                // # Activate the selected tab
                const selectedTab = document.getElementById('custom_tab_' + tabId);
                // selectedTab.add('custom-active');
            }



            function showTab(tabId) {
                // # Hide all tabs and reset their active class
                var tabs = document.querySelectorAll('.tab-content');
                tabs.forEach(function (tab) {
                    tab.classList.remove('active');
                });
                document.getElementById(tabId).classList.add('active');


                var tabButtons = document.querySelectorAll('.tab');
                tabButtons.forEach(function (tabButton) {
                    tabButton.classList.remove('active');
                });

                var clickedTab = document.querySelector('[onclick="showTab(\'' + tabId + '\')"]');
                clickedTab.classList.add('active');
            }
            document.addEventListener('DOMContentLoaded', () => {
                showTab('tab1')
                // # Show the default tab on page load
                // showCustomTab('custom_content1');
            });
        </script>
    </body>