<%= render partial: "layouts/header"%>
    <body>
        <section class="hero spad set-bg" data-setbg="/assets/backgroundimage.png">   
            <div class="container">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8 bg_text pl-5 py-4">
                            <p style="font-size: 1.5rem; font-weight: 600;">PRATAP'S</p>
                            <p style="font-size: 2rem; font-weight: 600;">AMAZING</p>
                            <p style="font-size: 2rem; font-weight: 600;">MUSICIANS</p>
                    </div>
                </div>
            </div>
            <div class="linear__icon">
                <i class="fa fa-angle-double-down"></i>
            </div>
        </section>
        <!-- Hero Section End -->

        <!-- Event Section Begin -->
        <section class="event spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="event__slider owl-carousel">
                        <div class="col-lg-4">
                            <div class="event__item">
                                <div class="event__item__pic set-bg" data-setbg="/assets/events/artist1.png">
                                    <div class="tag-date">
                                        <span>Dec 15, 2019</span>
                                    </div>
                                </div>
                                <div class="event__item__text">
                                    <h4> Amjad Ali Khan</h4>
                                    <p><i class="fa fa-map-marker"></i>Thane Mumbai</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="event__item">
                                <div class="event__item__pic set-bg" data-setbg="/assets/events/artist2.png">
                                    <div class="tag-date">
                                        <span>Dec 15, 2019</span>
                                    </div>
                                </div>
                                <div class="event__item__text">
                                    <h4>Anoushka Shankar</h4>
                                    <p><i class="fa fa-map-marker"></i> Funkhaus Berlin, Berlin, Germany</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="event__item">
                                <div class="event__item__pic set-bg" data-setbg="/assets/events/artist3.png">
                                    <div class="tag-date">
                                        <span>Dec 15, 2019</span>
                                    </div>
                                </div>
                                <div class="event__item__text">
                                    <h4> Bismillah Khan</h4>
                                    <p><i class="fa fa-map-marker"></i> Funkhaus Berlin, Berlin, Germany</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="event__item">
                                <div class="event__item__pic set-bg" data-setbg="/assets/events/artist4.png">
                                    <div class="tag-date">
                                        <span>Dec 15, 2019</span>
                                    </div>
                                </div>
                                <div class="event__item__text">
                                    <h4> Shivkumar Sharma</h4>
                                    <p><i class="fa fa-map-marker"></i> Funkhaus Berlin, Berlin, Germany</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- Event Section End -->

        <!-- About Section Begin -->
        <section class="about spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about__pic">
                            <img class="mt-3" src="<%= asset_url('artist1.png')%>">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about__text">
                            <div class="section-title">
                                <h2>Amjad Ali Khan</h2>
                                <h1>About me</h1>
                            </div>
                            <p>The Sarod is a popular instrument in Indian classical music known for its deep and expressive
                                sound. It's made of wood with a skin covering and doesn't have frets on the fingerboard,
                                allowing players to make subtle changes in pitch and slide between notes. People play the
                                Sarod with a pick called a mizrab, which helps create dynamic rhythms. Its rich sound and
                                ability to play complex melodies are essential for performing ragas, which are important in
                                Indian music and have deep emotions.</p>
                            <%# <a href="#" class="primary-btn">CONTACT ME</a> %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section End -->

        <!-- Services Section Begin -->
        <section class="services">
            <div class="container-fluid">
                <div class="row" style="display: flex; justify-content: flex-end;">
                    <div class="col-6 pl-4 d-none d-md-block">
                        <p style="font-family: 'Kaushan Script', cursive; border-bottom: 1px solid black; font-size: 30px;">MUSICIANS DIRECTORY</p>
                    </div>
                    <div class="col-1 d-none d-md-block" style="display: flex; justify-content: flex-end;">
                        <button class="py-2" style="border: 2px solid red; background-color: white;"><a href="/musicians/index" style="text-decoration: none; color: black;">View more</a></button>
                    </div>
                </div>

                <div class="row d-md-none d-block d-flex mb-2">
                    <div class="col-6">
                        <p style="font-family: 'Kaushan Script', cursive; border-bottom: 1px solid black; font-size: 30px;">MUSICIANS DIRECTORY</p>
                    </div>
                    <div class="col-6" style="display: flex; justify-content: flex-end;">
                        <button style="border: 2px solid red; background-color: white;">View more</button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-5 px-0 image-container">
                        <img style="height: 98%; width: 100%;" src="<%= asset_url('mainmusicianimage.png')%>">
                        <img class="secondimage" style="height: 40%; width: 70%;" src="<%= asset_url('bgimage.png')%>">
                        <p class="imgtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorum quae ut aperiam suscipit accusantium consequuntur reprehenderit praesentium aliquam veniam, officia atque error necessitatibus molestiae commodi dolor assumenda quaerat temporibus!</p>
                    </div>
                    
                    <div class="col-lg-7 px-3">
                        <div class="row services__list">
                            
                            <div class="col-md-6 py-3">
                             <div style="background-color: #A84A1F;">
                                <div class="img text-center">
                                    <img class="mt-3" style="border-radius: 50%;  width: 12rem; height: 11rem; " src="<%= asset_url('artist1.png')%>">
                                </div>
                                <div class="card-body px-4 text-white">
                                    <h4>Excepteur sint</h4>
                                    <p>occaecat cupidatat non provident, sunt in culpa qui</p>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6 py-3">
                                <div style="background-color: #FFB73E;">
                                   <div class="img text-center">
                                       <img class="mt-3" style="border-radius: 50%;  width: 12rem; height: 11rem; " src="<%= asset_url('artist2.png')%>">
                                   </div>
                                   <div class="card-body px-4 text-white">
                                       <h4>Excepteur sint</h4>
                                       <p>occaecat cupidatat non provident, sunt in culpa qui</p>
                                   </div>
                                 </div>
                               </div>

                               <div class="col-md-6 py-3">
                                <div style="background-color: #FFB73E;">
                                   <div class="img text-center">
                                       <img class="mt-3" style="border-radius: 50%;  width: 12rem; height: 11rem; " src="<%= asset_url('artist3.png')%>">
                                   </div>
                                   <div class="card-body px-4 text-white">
                                       <h4>Excepteur sint</h4>
                                       <p>occaecat cupidatat non provident, sunt in culpa qui</p>
                                   </div>
                                 </div>
                               </div>

                               <div class="col-md-6 py-3">
                                <div style="background-color: #A84A1F;">
                                   <div class="img text-center">
                                       <img class="mt-3" style="border-radius: 50%;  width: 12rem; height: 11rem; " src="<%= asset_url('artist4.png')%>">
                                   </div>
                                   <div class="card-body px-4 text-white">
                                       <h4>Excepteur sint</h4>
                                       <p>occaecat cupidatat non provident, sunt in culpa qui</p>
                                   </div>
                                 </div>
                               </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Section End -->

        <!-- Track Section Begin -->
        <section class="track spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="section-title">
                            <h2>Latest MUSIC</h2>
                            <h1>Music podcast</h1>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="track__all">
                            <a href="#" class="primary-btn border-btn">View all tracks</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 p-0">
                        <div class="track__content nice-scroll">
                            <div class="single_player_container">
                                <h4> Ronu Majumdar</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1"
                                    data-url="music-files/1.mp3"></div>
                                <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4>U. Srinivas</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_2"
                                    data-url="music-files/2.mp3"></div>
                                <div class="jp-audio jp_container_2" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4>Kadri Gopalnath</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_3"
                                    data-url="music-files/3.mp3"></div>
                                <div class="jp-audio jp_container_3" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4> Vishwa Mohan Bhatt</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_4"
                                    data-url="music-files/4.mp3"></div>
                                <div class="jp-audio jp_container_4" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4>Anoushka Shankar</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_5"
                                    data-url="music-files/5.mp3"></div>
                                <div class="jp-audio jp_container_5" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_player_container">
                                <h4>Bismillah Khan</h4>
                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_6"
                                    data-url="music-files/6.mp3"></div>
                                <div class="jp-audio jp_container_6" role="application" aria-label="media player">
                                    <div class="jp-gui jp-interface">
                                        <!-- Player Controls -->
                                        <div class="player_controls_box">
                                            <button class="jp-play player_button" tabindex="0"></button>
                                        </div>
                                        <!-- Progress Bar -->
                                        <div class="player_bars">
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div>
                                                        <div class="jp-play-bar">
                                                            <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                        </div>
                                        <!-- Volume Controls -->
                                        <div class="jp-volume-controls">
                                            <button class="jp-mute" tabindex="0"><i
                                                    class="fa fa-volume-down"></i></button>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 p-0">
                        <div class="track__pic">
                            <img src="/assets/track-right.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Track Section End -->

        <!-- Youtube Section Begin -->
        <section class="youtube spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>VIDEO</h2>
                            <h1>Latest videos</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="youtube__item">
                            <div class="youtube__item__pic set-bg" data-setbg="/assets/youtube/youtube-1.jpg">
                                <a href="https://www.youtube.com/watch?v=yJg-Y5byMMw?autoplay=1" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="youtube__item__text">
                                <h4>David Guetta Miami Ultra Music Festival 2019</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="youtube__item">
                            <div class="youtube__item__pic set-bg" data-setbg="/assets/youtube/youtube-2.jpg">
                                <a href="https://www.youtube.com/watch?v=K4DyBUG242c?autoplay=1" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="youtube__item__text">
                                <h4>Martin Garrix (Full live-set) | SLAM!Koningsdag</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="youtube__item">
                            <div class="youtube__item__pic set-bg" data-setbg="/assets/youtube/youtube-3.jpg">
                                <a href="https://www.youtube.com/watch?v=S19UcWdOA-I?autoplay=1" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="youtube__item__text">
                                <h4>Dimitri Vegas, Steve Aoki & Like Mike’s “3 Are Legend”</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Youtube Section End -->

        <!-- Countdown Section Begin -->
        <section class="countdown spad set-bg" data-setbg="/assets/countdown-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="countdown__text">
                            <h1>Tomorrowland 2020</h1>
                            <h4>Music festival start in</h4>
                        </div>
                        <div class="countdown__timer" id="countdown-time">
                            <div class="countdown__item">
                                <span>20</span>
                                <p>days</p>
                            </div>
                            <div class="countdown__item">
                                <span>45</span>
                                <p>hours</p>
                            </div>
                            <div class="countdown__item">
                                <span>18</span>
                                <p>minutes</p>
                            </div>
                            <div class="countdown__item">
                                <span>09</span>
                                <p>seconds</p>
                            </div>
                        </div>
                        <div class="buy__tickets">
                            <a href="#" class="primary-btn">Buy tickets</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Countdown Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer spad set-bg" data-setbg="/assets/footer-bg.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer__address">
                            <ul>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p>Phone</p>
                                    <h6>1-677-124-44227</h6>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <p>Email</p>
                                    <h6>DJ.Music@gmail.comddd</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1 col-md-6">
                        <div class="footer__social">
                            <h2>Bhanwar Lal Prajapati</h2>
                            <div class="footer__social__links">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-6">
                        <div class="footer__newslatter">
                            <h4>Stay With me</h4>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send-o"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </footer>
        <!-- Footer Section End -->
    </body>