
<style>
  /* .row{
    justify-content: center;
  } */
  .read-more-btn {
    position: absolute;
    left: 0;
    top: 304px;
    width: 100%;
    text-align: center;
  }
    .card {
    -webkit-box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
    box-shadow: 0px 3px 15px rgba(22, 41, 124, 0.1);
    border-radius: 0;
    border: none;
  }
</style>
<%= render partial: "layouts/header"%>
<div class="container" style="margin-top: 2rem;">
  <div class="row mt-2">
    <% @events.each do |a| %>
      <div class="col col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body px-0 py-0">
            <% if a.image.attached? %>
              <img src="<%= url_for(a.image) %>" class="card-img-top img-fluid" style="height: 20rem; width: 100%;">
            <% end %>
            <div class="read-more-btn">
              <!-- <button class="card__btn"><a href="musician_info">Read More.. </a></button> -->
              <%= button_to "Read More..", event_path(a), method: :get, class: "px-4 py-1" %>
            </div>
            <div class="px-4 py-2">
            <p class="card-text"><strong>Event Date:</strong> <%= a.event_date %></p>
            <p class="card-text"><strong><%= a.event_name %></strong></p>
            <p class="card-text"><strong>Event Location:</strong> <%= a.event_location %></p>
             <!-- <%= button_to "Show", event_path(a), method: :get, class: "btn btn-success btn-block" %> -->
            <div class="row d-flex">
            <div class="col-md-6"><%= button_to "Edit", edit_event_path(a), method: :get, class: "btn btn-primary btn-block" %></div>
            <div class="col-md-6"><%= button_to "Delete", event_path(a), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-block" %></div>
            </div>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <div class=" text-center">
    <%= button_to "Add New Event", new_event_path, method: :get ,class:"btn-warning border-0 rounded shadow p-3 m-3" %>
  </div>
</div>




