  <%= render partial: "layouts/header"%>
  <div class="container" style="margin-top: 10rem;">
      <div class="row justify-content-center">
          <div class="card shadow" style="width: 36rem;">
            <div class="card-header">
              <h2 class="text-center">Edit Instrument</h2>
            </div>
            <div class="card-body">
              <!-- Error Message -->
              <% if flash[:errors] %>
                <% flash[:errors].each do |error| %>
                  <p class="text-danger"><%= error %></p>
                <% end %>
              <% end %>
              <!-- Form Started Here -->
              <%= form_with model: @instrument do |f| %>
                <!-- Image -->
                <% if @instrument.image.attached? %>
                  <%= image_tag @instrument.image, class: "card-img-top", style: "height: 20rem; width: 100%;" %>
                <% end %>
                <br>
                <!-- Instrument Name -->
               <%= f.label :name, "<b>Instrument Name :</b>".html_safe, class: "mt-3" %>
                <%= f.text_field :name, placeholder: "Enter Instrument's Name", class: "mb-2 form-control" %>
                
                 <!-- Description -->
                <%= f.label :description, "<b>Description :</b>".html_safe, class: "mt-3" %>
                <%= f.text_field :description, placeholder: "Enter Description", class: "mb-2 form-control" %>

                <!-- Submit Button -->
                <div class="button text-center">
                  <%= f.submit "Save Instrument", class: "btn-primary border-0 rounded shadow p-2 text-center px-5" %>
                </div>
              <% end %>
            </div>
          </div>
      </div>
  </div>