        <section class="services mt-3">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-5 px-0 image-container">
                        <img style="height: 100%; width: 100%;" src="<%= asset_url('mainmusicianimage.png')%>">
                        <img class="secondimage" style="height: 40%; width: 70%;" src="<%= asset_url('bgimage.png')%>">
                        <p class="imgtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorum quae ut
                            aperiam suscipit accusantium consequuntur reprehenderit praesentium aliquam veniam, officia
                            atque error necessitatibus molestiae commodi dolor assumenda quaerat temporibus!</p>
                    </div>

                    <div class="col-lg-7 px-3">
                        <div class="row d-flex">
                            <div class="col-6">
                                <p style="font-family: 'Kaushan Script', cursive; border-bottom: 1px solid black; font-size: 30px;">
                                    MUSICIANS DIRECTORY</p>
                            </div>
                            <div class="col-6 " style="display: flex; justify-content: flex-end;">
                                <button class="py-2 px-3" style="border: 2px solid red; background-color: white;"><a href="/artists"
                                 style="text-decoration: none; color: black;">View more</a></button>
                            </div>
                        </div>
                         <div class="row services__list">
                            <% @artists.each do |a| %>
                            <div class="col-md-6 py-3">
                                <div style="background-color: #A84A1F;">
                                    <div class="img text-center">
                                        <img class="mt-3" style="border-radius: 50%;  width: 11rem; height: 11rem; "
                                            src="<%= url_for(a.image) %>">
                                    </div>
                                    <div class="card-body px-4 text-white py-3">
                                        <p><%= a.date_of_birth %></p>
                                        <h4><%= a.name %></h4>
                                        <p><%= a.description %></p>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                      </div>
                    </div>
                </div>  
        </section>